<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <title>Comentários</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        template: `
          <div class="container">
        <h1>Comentários</h1>
        <hr />
        <div class="form-todo form-group">
          <p>
            <input
              type="text"
              placeholder="nome"
              name="author"
              class="form-control"
              v-model="name"
            />
          </p>
          <p>
            <input
              type="text"
              placeholder="Comentário"
              name="message"
              class="form-control"
              v-model="message"
            />
          </p>
          <button v-on:click="addComment" type="submit" class="btn btn-primary">Comentar</button>
        </div>
        <div class="list-group mt-4">
          <div class="list-group-item" v-for="(comment, index) in allComments">
            <span class="comment_author">Author: <strong>{{comment.name}}</strong></span>
            <p>{{comment.message}}</p>
            <div>
              <a href="#" title="Excluir" v-on:click.prevent="removeComment(index)">Excluir</a>
            </div>
          </div>
        </div>
        <hr />
      </div>`,
        data() {
          return {
            comments: [],
            name: "",
            message: "",
          };
        },
        methods: {
          addComment() {
            if (this.message.trim() === "") {
              return;
            }
            this.comments.push({
              name: this.name,
              message: this.message,
            });

            this.name = "";
            this.message = "";
          },
          removeComment(index) {
            this.comments.splice(index, 1);
          },
        },
        computed: {
          allComments() {
            return this.comments.map((comment) => ({
              ...comment,
              name: comment.name.trim() === "" ? "Anonimo" : comment.name,
            }));
          },
        },
        watch: {
          comments(val) {
            console.log("val", val);
          },
        },
      });
    </script>
  </body>
</html>
